@font-face {
	font-family: college-font;
	src: url(font/college.ttf) format('truetype');
}
.offcanvas-buhs{
  width:300px;
}
#content{
  background-color: #fffafa;
}

footer{
  background-color: #fffafa;
}

body{
  background-color: #fffafa;
}

nav {
	background-color: #cc0000;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.navbar-brand {
	font-family: college-font;
  padding-left: 5px;
}

#homepage-title{
  font-family: college-font;
  color: #cc0000;
  text-align: center;
  font-size: 75px;
}
  
.homepage-ul{
  
  list-style: none; 
  text-align:center;
  
}

.homepage-li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

.homepage-link {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
  font-size: 30px;
  color: #cc0000;
  text-align: center;
}

#dyk{
  font-size: 30px;
}

#dyk-query{
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
}
.btn-stats-bg{
 background-color: #fffafa; 
}
.homepage-link
{
  max-width:100%;
}

.accordion-flush{
  overflow-y: auto;
}

#offcanvasRecordsFilters{
  overflow-y: auto;
}

input[type=number]{
    -moz-appearance: textfield;
    width:100px;
    margin-left:5px;
    margin-right:5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width:100px;
    margin-left:5px;
}

.recLabels{
  color:gray;
}
.dropdown-container{
  display: flex;
}

#record {
	color: #cc0000;
	font-size: 160%;
	text-align: center;

}
.dropdown-toggle{
  width: 130px;
}

.custom-align{
  margin-left:5px;
}

#offcanvasRecordsFilters label{
  width:100px;
  margin-left: 5px;
}

#buscoreop{
  width:50px;
}

#oppscoreop{
  width:50px;
}

#resetButton{
  margin-top:5px;
}

