@font-face {
	font-family: college-font;
	src: url(font/college.ttf) format('truetype');
}

#content{
  background-color: #fffafa;
}

footer{
  background-color: #fffafa;
}

body{
  background-color: #fffafa;
}

nav {
	background-color: #cc0000;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.navbar-brand {
	font-family: college-font;
  padding-left: 5px;
}

#homepage-title{
  font-family: college-font;
  color: #cc0000;
  text-align: center;
  font-size: 75px;
}
  
.homepage-ul{
  
  list-style: none; 
  text-align:center;
  
}

.homepage-li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

.homepage-link {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
  font-size: 30px;
  color: #cc0000;
  text-align: center;
}

#dyk{
  font-size: 30px;
}

#dyk-query{
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

.homepage-link
{
  max-width:100%;
}

.accordion-flush{
  overflow-y: auto;
}