@font-face {
	font-family: college-font;
	src: url(font/college.ttf) format('truetype');
}

body{
  font-family: 'Quicksand';
}

.link-no-pad{
  color:black;
}
.link{
  color:black;
}

.offcanvas-buhs{
  width:300px;
}

.sidebar-buhs{
  float:left;  
}

.stat-table {
	text-align: center;
}
.stat-row {
	padding-right: 4px;
}

.stat-header{
  font-weight: bold;
}

.sidebar-header-center{
  display:block;
  text-align:center;
}

.badge {
  margin-right: 1em;
  min-width: 3em;
}

#content{
  background-color: #fffafa;
  overflow:auto;
}

footer{
  background-color: #fffafa;
}

body{
  background-color: #fffafa;
}

nav {
	background-color: #cc0000;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.navbar-brand {
	font-family: college-font;
  padding-left: 5px;
}

#homepage-title{
  font-family: college-font;
  color: #cc0000;
  text-align: center;
  font-size: 75px;
}
  
.homepage-ul{
  
  list-style: none; 
  text-align:center;
  
}

.homepage-li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

.homepage-link {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
  font-size: 30px;
  color: #cc0000;
  text-align: center;
}

#dyk{
  font-size: 30px;
}

#dyk-query{
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.mobile-view{
  display:none
}

@media (max-width:800px){
  .mobile-view{
    display:block
  }
  
  #homepage-title{
    font-size: 45px;
  }
  
  #dyk{
  font-size: 20px;
  }

  #dyk-query{
    font-size: 10px;
  }

  .icon-link-container {
    flex-direction: column;
  }
}

.btn-stats-bg{
 background-color: #fffafa; 
}

.icon-link-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.mobile-row {
  display: flex;
}

.homepage-link {
  max-width: 250px;
}

.accordion-flush{
  overflow-y: auto;
}

#offcanvasRecordsFilters{
  overflow-y: auto;
}

input[type=number]{
    -moz-appearance: textfield;
    width:100px;
}

#startYear,
#endYear
{
    margin-left:5px;
    margin-right:5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width:100px;
    margin-left:5px;
}

.recLabels{
  color:gray;
}
.dropdown-container{
  display: flex;
}

#record {
	color: #cc0000;
	font-size: 160%;
	text-align: center;

}
.dropdown-toggle{
  width: 147px;
}

.hidden {
	display: none;
}

.custom-align{
  margin-left:5px;
}

#offcanvasRecordsFilters label{
  width:100px;
  margin-left: 5px;
}

#offcanvasPlayersFilters label{
  width:100px;
  margin-left: 5px;
}

#buscoreop{
  width:50px;
}

#oppscoreop{
  width:50px;
}

#name{
  width:130px;
}
#number{
  width:130px;
}
#date{
  width:130px;
}

#seasRange label{
  width: 150px;
}

#resetButton{
  margin-top:5px;
}

#randStat{
  padding-top:5px;
}
[type='radio'] {
display: none; 
}

.tOps{
display: none;
}  

.choice-btn{
  margin-right:10px;
  margin-bottom:10px;
  display:block;
}

.btn-group{
  margin-bottom:10px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
    }
    
    input[type='range']::-webkit-slider-thumb {
      background: #cc0000;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #cc0000; 
}
input[type="range"]::-moz-range-track {  
  background-color: #a2a4a8;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #cc0000; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #a2a4a8;
}

#randStat{
  margin-top:5px;
}
  
.error-container {
  text-align: center;
}
.error-code {
  font-size: 12rem;
  font-weight: bold;
  color: #cc0000;
  margin-bottom: 20px;
}
.error-message {
  font-size: 2rem;
  color: #555;
}

#freeplayres {
  display: block;
  width: 213px;
  margin-top: 5px;
}