{% extends "layout.html" %}
{% block content %}
    <h2> About </h2>
    <div>
        <p class="about-text">
            BU Hockey Stats started off as a summer project in 2022 when I was thinking about odd,
            super specific stats that pop up during broadcasts such as "this team is 3-0 on Tuesdays
            in March vs. this other team", and I realize that I could generate those sorts of odd
            stats for BU Hockey. Originally, this project was just going to be for fun for me to
            bug friends with but it grew into a twitter account @BUHockeyStats where I would share
            these odd things with Terrier Nation. That soon expanded to a Twitter bot @BUHockeyStatsBot
            that would allow others to look up their own wild stats.
        </p>
        <p class="about-text">
            As the 2022-23 season came to a close, I was thinking about what the 2023 off-season would
            bring and with Twitter's animosity towards bots, creating an alternative was what I decided
            on for my project. Originally the site was just going to be a simple port to the web with
            just a simple text box which became <a class="link-no-pad" href="/statsbot">Stats Bot</a>.
            It expanded into a more visual, user-friendly site with the <a class="link-no-pad" href="/records">"Records"</a>
            and <a class="link-no-pad" href="/players">"Players"</a> pages displaying tables of data with options to filter it.
        </p>
        <p class="about-text">
            For Comments, Questions, Corrections, Suggestions: DM me on Instagram:
            <a class='link-no-pad' href="https://instagram.com/buhockeystats">@BUHockeyStats</a> or Twitter:
            <a class="link-no-pad" href="https://twitter.com/buhockeystats">@BUHockeyStats</a> or email me at
            <a href="mailto:buhockeystats@gmail.com">BUHockeyStats@gmail.com</a>
        </p>

        <h2>Sources</h2>
        <ul>
            <li>
                <a class="link" href="https://goterriers.com/documents/2022/11/15/2223-mih-record-book.pdf">BU Men's Hockey Record Book</a>
                <ul>
                    <li><p class="about-text"> Men's Results: 1917-2022<p></li>
                    <li><p class="about-text"> Men's Career Stats: 1917-2022<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://goterriers.com/sports/mens-ice-hockey/">Go Terriers Men's Ice Hockey</a>
                <ul>
                    <li><p class="about-text"> Men's Results: 2021-Pres.<p></li>
                    <li><p class="about-text"> Men's Season Stats: 2022-Pres.<p></li>
                    <li><p class="about-text"> Men's Game Stats: 2022-Pres.<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://www.eliteprospects.com/team/633/boston-univ.">Elite Prospects</a>
                <ul>
                    <li><p class="about-text"> Men's Season Stats: 1917-2002<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://www.tdgarden.com/events/beanpot/awards-mvp">TD Garden</a>
                <ul>
                    <li><p class="about-text"> Men's Beanpot Results: 1952-Pres.<p></li>
                    <li><p class="about-text"> Men's Beanpot Awards: 1952-Pres.<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://goterriers.com/documents/2023/6/7/WIH_Updated_Record_Book_June_2023.pdf">BU Women's Hockey Record Book</a>
                <ul>
                    <li><p class="about-text"> Women's Results: 2005-2023<p></li>
                    <li><p class="about-text"> Women's Career Stats: 2005-2023<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://goterriers.com/sports/womens-ice-hockey/">GoTerriers Women's Ice Hockey</a>
                <ul>
                    <li><p class="about-text"> Men's Results: 2021-Pres.<p></li>
                    <li><p class="about-text"> Women's Season Stats: 2022-Pres.<p></li>
                    <li><p class="about-text"> Women's Game Stats: 2022-Pres.<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://womensbeanpot.com">Women's Beanpot</a>
                <ul>
                    <li><p class="about-text"> Women's Beanpot Results: 1979-Pres.<p></li>
                    <li><p class="about-text"> Women's Beanpot Awards: 1979-Pres.<p></li>
                </ul>
            </li>
            <li>
                <a class="link" href="https://collegehockeystats.net/">College Hockey Stats</a>
                <ul>
                    <li><p class="about-text"> Men's Season Stats: 2002-2021<p></li>
                    <li><p class="about-text"> Men's Game Stats: 2002-2021<p></li>
                    <li><p class="about-text"> Women's Season Stats: 2005-2021<p></li>
                    <li><p class="about-text"> Women's Game Stats: 2005-2021<p></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}