<table border="1">
<tbody>
<tr><td>Record Queries:</td></tr>
<tr><td>(Note: women’s can be added to any query to get women’s record info)</td></tr>
<tr><td>record queries require one (1) query type and one (1) or more options</td></tr>
<tr><td></td></tr>
<tr><td>Query Type:</td></tr>
<tr><td>record</td></tr>
<tr><td>returns BU's record (W-L-T) in given condition(s)</td></tr>
<tr><td>wins</td></tr>
<tr><td>returns BU's number of wins in given condition(s)</td></tr>
<tr><td>losses</td></tr>
<tr><td>returns BU's number of losses in given condition(s)</td></tr>
<tr><td>ties</td></tr>
<tr><td>returns BU's number of losses in given condition(s)</td></tr>
<tr><td>last [win/loss/tie/games]</td></tr>
<tr><td>returns last BU wins/loss/tie/games in given condition(s)</td></tr>
<tr><td>last N [win/loss/tie/games]</td></tr>
<tr><td>returns list of last N BU wins/loss/tie/games in given condition(s)</td></tr>
<tr><td>biggest [win/loss]</td></tr>
<tr><td>returns biggest win/loss in given condition(s)</td></tr>
<tr><td></td></tr>
<tr><td>Options:</td></tr>
<tr><td>vs/against [team]</td></tr>
<tr><td>at [team/arena/home/away/neutral]</td></tr>
<tr><td>under/with [coach]</td></tr>
<tr><td>since/after/before [year/season/date]</td></tr>
<tr><td>from/between [year/date] to/and [year/date]</td></tr>
<tr><td>in [year/season/decade/tourney/regular season/playoffs/overtime/regulation/ non-conference/conference/conference name/first n/last n/n goal]</td></tr>
<tr><td>on [date (Month/Day)/day of week]</td></tr>
<tr><td>when [scoring/allowing] [>/>=\/<\/<=] [number][+] goals</td></tr>
<tr><td>when [player name] has [>/>=\/<\/<=] [number][+] [goals/assists/points/saves/ga]</td></tr>
<tr><td>Some Examples:</td></tr>
<tr><td>record vs BC on Mondays</td></tr>
<tr><td>women’s last 3 wins at Matthews</td></tr>
<tr><td>biggest win under Parker in Beanpot before 1994</td></tr>
<tr><td>wins in 2000s in overtime</td></tr>
<tr><td>last win on 2/1</td></tr>
<tr><td></td></tr>
<tr><td>Options:</td></tr>
<tr><td>when [player name] has [>/>=\/<\/<=] [number][+] [goals/assists/points/saves/ga]</td></tr>
<tr><td>when [player name] scores</td></tr>
<tr><td>Some Examples:</td></tr>
<tr><td>record when Drew Commesso makes 29 saves</td></tr>
<tr><td>record when Lane Hutson scores</td></tr>
<tr><td>last win when Matt Brown has 3+ pts </td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>Player Queries:</td></tr>
<tr><td>(Note: Men’s/Women’s can be added to specified team)</td></tr>
<tr><td></td></tr>
<tr><td>[Name] career [stat]</td></tr>
<tr><td>Can also add “vs [opponent]” to show stats vs specified opponent (Note: Only valid on players 2003-Present)</td></tr>
<tr><td>Ex: Matt Grzelcyk career statline</td></tr>
<tr><td>most career [stat]</td></tr>
<tr><td>Ex: most career goals</td></tr>
<tr><td></td></tr>
<tr><td>most [stat] by #[number]</td></tr>
<tr><td>Ex: most pts by #32</td></tr>
<tr><td></td></tr>
<tr><td>most [stat] by [name]</td></tr>
<tr><td>Ex: most goals by Jack</td></tr>
<tr><td></td></tr>
<tr><td>most/leading/best [stat] in [season]</td></tr>
<tr><td>Ex: best sv% in 2017-18</td></tr>
<tr><td></td></tr>
<tr><td>most/leading/best [stat] by [pos/yr] in [season]</td></tr>
<tr><td>Ex: most goals by freshman in 2014-15</td></tr>
<tr><td>Ex: most assists by defenseman in 2016-17</td></tr>
<tr><td></td></tr>
<tr><td>most/leading/best [stat] by [yr] [pos] in [season]</td></tr>
<tr><td>Ex: most pts by junior women’s forward in 2018-19</td></tr>
<tr><td></td></tr>
<tr><td>[Name] [stat] in [season]</td></tr>
<tr><td>Can also add “vs [opponent]” to show stats vs specified opponent (Note: Only valid on players 2003-Present)</td></tr>
<tr><td>Ex: Bobo Carpenter goals in 2016-17</td></tr>
<tr><td></td></tr>
<tr><td>[Name] [stat] as [yr]</td></tr>
<tr><td>Can also add “vs [opponent]” to show stats vs specified opponent (Note: Only valid on players 2003-Present)</td></tr>
<tr><td>Ex: Marie-Philip Poulin pts as senior</td></tr>
<tr><td></td></tr>
<tr><td>#[number] in [season]</td></tr>
<tr><td>Ex: #17 in 1994-95</td></tr>
<tr><td></td></tr>
<tr><td>number [name]</td></tr>
<tr><td>Ex: number Joe Pereira </td></tr>
<tr><td></td></tr>
<tr><td>[Name] career [stat] vs [opponent]</td></tr>
<tr><td>(Note: Only valid for players 2003-Present)</td></tr>
<tr><td>Ex: Colby Cohen career stats vs BC</td></tr>
<tr><td></td></tr>
<tr><td>[Name] [stat] in [season] vs [opponent]</td></tr>
<tr><td>(Note: Only valid for players 2003-Present)</td></tr>
<tr><td>Ex: Ryan Greene pts in 2022-23 vs Umass</td></tr>
<tr><td></td></tr>
<tr><td>[Name] [stat] as [yr] vs [opponent]</td></tr>
<tr><td>(Note: Only valid for players 2003-Present)</td></tr>
<tr><td>Ex: Victoria Bach goals as senior vs Vermont</td></tr>
<tr><td></td></tr>
<tr><td>Valid Stats:</td></tr>
<tr><td>Skaters:</td></tr>
<tr><td>goals</td></tr>
<tr><td>assists</td></tr>
<tr><td>points</td></tr>
<tr><td>stat line</td></tr>
<tr><td>Goalies:</td></tr>
<tr><td>GAA</td></tr>
<tr><td>SV%</td></tr>
<tr><td>record</td></tr>
<tr><td>stat line</td></tr>
<tr><td>shutouts (only valid for seasons)</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>Beanpot Queries:</td></tr>
<tr><td>(Note: womens can be added to any query to get Women’s Beanpot info)</td></tr>
<tr><td></td></tr>
<tr><td>[Year or Edition] Beanpot results </td></tr>
<tr><td>returns all results from given Beanpot</td></tr>
<tr><td>Ex: 1990 Beanpot results</td></tr>
<tr><td>Ex: 41st Women’s Beanpot results</td></tr>
<tr><td></td></tr>
<tr><td>[Year or Edition] Beanpot [round] results</td></tr>
<tr><td>returns results for the given round of the given Beanpot</td></tr>
<tr><td>Ex: 69th Beanpot semifinal results</td></tr>
<tr><td></td></tr>
<tr><td>[Year or Edition] Beanpot finish</td></tr>
<tr><td>returns final standings from given Beanpot</td></tr>
<tr><td>optional place returns only the team to finish in that place</td></tr>
<tr><td>Ex: 3rd Women’s Beanpot results</td></tr>
<tr><td></td></tr>
<tr><td>[Year or Edition] Beanpot place</td></tr>
<tr><td>returns team that finished in given place in given Beanpot</td></tr>
<tr><td>Ex: 2019 Women’s Beanpot runnerup</td></tr>
<tr><td></td></tr>
<tr><td>[Year or Edition] Beanpot [MVP/Eberly/Bertgna]</td></tr>
<tr><td>returns award winner in given Beanpot</td></tr>
<tr><td>Ex: 1978 Beanpot MVP</td></tr>
<tr><td>Ex: 55th Beanpot Eberly</td></tr>
<tr><td>Ex: 2021 Women’s Beanpot Bertgna</td></tr>
<tr><td></td></tr>
<tr><td>[Team] record in Beanpot [since/after/before year/between year and year/in decade]</td></tr>
<tr><td>returns given team's record in all rounds/games</td></tr>
<tr><td>optional see record for given team in given time frame</td></tr>
<tr><td>Ex: BC record in Beanpot after 2016</td></tr>
<tr><td></td></tr>
<tr><td>[Team] record in Beanpot [round/game]</td></tr>
<tr><td>returns given teams record in given rounds/games</td></tr>
<tr><td>Ex: BU record in Beanpot finals</td></tr>
<tr><td></td></tr>
<tr><td>[Team] record in Beanpot [round/game] [since/after/before year/between year and year]</td></tr>
<tr><td>returns given team's record in given rounds/games</td></tr>
<tr><td>optional see record for given team in given time frame</td></tr>
<tr><td>Ex: Harvard record in Beanpot semifinals since 1995</td></tr>
<tr><td></td></tr>
<tr><td>[Team] Beanpot finish [since/after/before year/between year and year]</td></tr>
<tr><td>returns given finishes</td></tr>
<tr><td>optional see record for given team in given time frame</td></tr>
<tr><td></td></tr>
<tr><td>[Team] Beanpot finish in [year]</td></tr>
<tr><td>returns teams finish in given year</td></tr>
<tr><td>Ex: BC Beanpot finish in 2017</td></tr>
<tr><td></td></tr>
<tr><td>[Team] Beanpot place [since/after/before year/between year and year]</td></tr>
<tr><td>returns given team's record in given rounds/games</td></tr>
<tr><td>optional see record for given team in given time frame</td></tr>
<tr><td>Ex: BC Beanpot 3rd Place</td></tr>
<tr><td></td></tr>
<tr><td>Beanpot finish [since/after/before year/between year and year]</td></tr>
<tr><td>returns finishes for all teams</td></tr>
<tr><td>optional see record for given team in given time frame</td></tr>
<tr><td>Ex: Beanpot finish between 1996 and 2016</td></tr>
<tr><td></td></tr>
<tr><td>[Team1] record vs [Team2] in Beanpot [round/game] [since/after/before year/between year and year]</td></tr>
<tr><td>returns head to head record of given teams </td></tr>
<tr><td>optional round/game shows results in given round</td></tr>
<tr><td>optional see record for given team in given time frame</td></tr>
<tr><td>Ex: NU record vs Harvard in Beanpot consolation game</td></tr>
</tbody>
</table>