Record Queries:
(Note: women’s can be added to any query to get women’s record info)
record queries require one (1) query type and one (1) or more options

Query Type:
record
returns BU's record (W-L-T) in given condition(s)
wins
returns BU's number of wins in given condition(s)
losses
returns BU's number of losses in given condition(s)
ties
returns BU's number of losses in given condition(s)
last [win/loss/tie/games]
returns last BU wins/loss/tie/games in given condition(s)
last N [win/loss/tie/games]
returns list of last N BU wins/loss/tie/games in given condition(s)
biggest [win/loss]
returns biggest win/loss in given condition(s)

Options:
vs/against [team]
at [team/arena/home/away/neutral]
under/with [coach]
since/after/before [year/season/date]
from/between [year/date] to/and [year/date]
in [year/season/decade/tourney/regular season/playoffs/overtime/regulation/ non-conference/conference/conference name/first n/last n/n goal]
on [date (Month/Day)/day of week]
when [scoring/allowing] [>/>=/</<=] [number][+] goals
when [player name] has [>/>=/<\/<=] [number][+] [goals/assists/points/saves/ga]
Some Examples:
record vs BC on Mondays
women’s last 3 wins at Matthews
biggest win under Parker in Beanpot before 1994
wins in 2000s in overtime
last win on 2/1
record when Drew Commesso makes 29 saves
record when Lane Hutson scores
last win when Matt Brown has 3+ pts 

Options:
when [player name] has [>/>=\/<\/<=] [number][+] [goals/assists/points/saves/ga]
when [player name] scores
Some Examples:
record when Drew Commesso makes 29 saves
record when Lane Hutson scores
last win when Matt Brown has 3+ pts 


Player Queries:
(Note: Men’s/Women’s can be added to specified team)

[Name] career [stat]
Can also add “vs [opponent]” to show stats vs specified opponent (Note: Only valid on players 2003-Present)
Ex: Matt Grzelcyk career statline
most career [stat]
Ex: most career goals

most [stat] by #[number]
Ex: most pts by #32

most [stat] by [name]
Ex: most goals by Jack

most/leading/best [stat] in [season]
Ex: best sv% in 2017-18

most/leading/best [stat] by [pos/yr] in [season]
Ex: most goals by freshman in 2014-15
Ex: most assists by defenseman in 2016-17

most/leading/best [stat] by [yr] [pos] in [season]
Ex: most pts by junior women’s forward in 2018-19

[Name] [stat] in [season]
Can also add “vs [opponent]” to show stats vs specified opponent (Note: Only valid on players 2003-Present)
Ex: Bobo Carpenter goals in 2016-17

[Name] [stat] as [yr]
Can also add “vs [opponent]” to show stats vs specified opponent (Note: Only valid on players 2003-Present)
Ex: Marie-Philip Poulin pts as senior

#[number] in [season]
Ex: #17 in 1994-95

number [name]
Ex: number Joe Pereira 

[Name] career [stat] vs [opponent]
(Note: Only valid for players 2003-Present)
Ex: Colby Cohen career stats vs BC

[Name] [stat] in [season] vs [opponent]
(Note: Only valid for players 2003-Present)
Ex: Ryan Greene pts in 2022-23 vs Umass

[Name] [stat] as [yr] vs [opponent]
(Note: Only valid for players 2003-Present)
Ex: Victoria Bach goals as senior vs Vermont

Valid Stats:
Skaters:
goals
assists
points
stat line
Goalies:
GAA
SV%
record
stat line
shutouts (only valid for seasons)


Beanpot Queries:
(Note: womens can be added to any query to get Women’s Beanpot info)

[Year or Edition] Beanpot results 
returns all results from given Beanpot
Ex: 1990 Beanpot results
Ex: 41st Women’s Beanpot results

[Year or Edition] Beanpot [round] results
returns results for the given round of the given Beanpot
Ex: 69th Beanpot semifinal results

[Year or Edition] Beanpot finish
returns final standings from given Beanpot
optional place returns only the team to finish in that place
Ex: 3rd Women’s Beanpot results

[Year or Edition] Beanpot place
returns team that finished in given place in given Beanpot
Ex: 2019 Women’s Beanpot runnerup

[Year or Edition] Beanpot [MVP/Eberly/Bertgna]
returns award winner in given Beanpot
Ex: 1978 Beanpot MVP
Ex: 55th Beanpot Eberly
Ex: 2021 Women’s Beanpot Bertgna

[Team] record in Beanpot [since/after/before year/between year and year/in decade]
returns given team's record in all rounds/games
optional see record for given team in given time frame
Ex: BC record in Beanpot after 2016

[Team] record in Beanpot [round/game]
returns given teams record in given rounds/games
Ex: BU record in Beanpot finals

[Team] record in Beanpot [round/game] [since/after/before year/between year and year]
returns given team's record in given rounds/games
optional see record for given team in given time frame
Ex: Harvard record in Beanpot semifinals since 1995

[Team] Beanpot finish [since/after/before year/between year and year]
returns given finishes
optional see record for given team in given time frame

[Team] Beanpot finish in [year]
returns teams finish in given year
Ex: BC Beanpot finish in 2017

[Team] Beanpot place [since/after/before year/between year and year]
returns given team's record in given rounds/games
optional see record for given team in given time frame
Ex: BC Beanpot 3rd Place

Beanpot finish [since/after/before year/between year and year]
returns finishes for all teams
optional see record for given team in given time frame
Ex: Beanpot finish between 1996 and 2016

[Team1] record vs [Team2] in Beanpot [round/game] [since/after/before year/between year and year]
returns head to head record of given teams 
optional round/game shows results in given round
optional see record for given team in given time frame
Ex: NU record vs Harvard in Beanpot consolation game
</tbody>
</table>