{% extends "layout.html" %}
{% block content %}
<div>
<h3 class="stat-table">BU Hat Tricks</h3>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active note-nav" id="mens-hattricks-tab" data-bs-toggle="tab" data-bs-target="#nav-mens-hattricks" type="button" role="tab" aria-controls="mens-hattricks" aria-selected="true">Men's</button>
      <button class="nav-link note-nav" id="womens-hattricks-tab" data-bs-toggle="tab" data-bs-target="#nav-womens-hattricks" type="button" role="tab" aria-controls="womens-hattricks" aria-selected="true">Women's</button>
</div>
   <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-mens-hattricks" role="tabpanel" aria-labelledby="mens-hattricks-tab">
        {% autoescape false %}
        {{mHattricks}}
        {% endautoescape %}
        </div>
      <div class="tab-pane fade" id="nav-womens-hattricks" role="tabpanel" aria-labelledby="womens-hattricks-tab">
        {% autoescape false %}
        {{wHattricks}}
        {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}