{% extends "layout_redesign.html" %}
{% block content %}
<div class="p-3 container">
    <h1 id='homepage-title'>BU Hockey Stats</h1>
    <div class="row">
      <div class="column">
        <a class='homepage-link' href="/statsbot"><img id='stats-bot-logo' src="../static/images/statsbotlogo.ico"></a>
      </div>
      <div class="column">
        <a class='homepage-link' href="/records"><img id='records-logo' src="../static/images/recordslogo.ico"></a>
      </div>
      <div class="column">
        <a class='homepage-link' href="/players"><img id='players-logo' src="../static/images/jersey_road.ico"></a>
      </div>
    </div>
    <h2 id='dyk'> Did You Know?</h2>
    <h3 id='dyk-query'>{{query}}</h3>
    {% autoescape false %}
    {{result}}
    {% endautoescape %}
    </div>
</div>
{% endblock %}