<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>BU Hockey Stats</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>BU Hockey Stats</h1>
        <h2 class="clickable-heading">
            <a class='link' href="/records">Records</a>
            <a class='link' href="/players">Players</a>
            <a class='link' href="/statsbot">Stats Bot</a>
        </h2>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
    <div id="footer">
        <hr>
        <a class="fa fa-instagram" href="https://instagram.com/buhockeystats"></a>
        <a class="fa fa-twitter" href="https://twitter.com/buhockeystats"></a>
    </div>
</html>