{% extends "layout.html" %}
{% block content %}
<div>
<h3 class="stat-table">Game Stats Dates We're Missing</h3>
<p class='stat-table'> If you know who scored for BU on any of these days contact us on <a class="link" href="https://twitter.com/buhockeystats">Twitter</a> or <a class="link" href="mailto:buhockeystats@gmail.com">email us</a> with proof</p>
<table class="stat-table">
  <thead class="buhs-header">
      <th>Date</th>
      <th>Opponent</th>
      <th>Name</th>
      <th>Goals</th>
    </tr>
  </thead>
  <tbody>
    <tr class="buhs-table-even">
      <td>02/02/1924</td>
      <td>Maine</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/31/1925</td>
      <td>Briarcliff Lodge</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/16/1929</td>
      <td>New Hampshire</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>03/05/1931</td>
      <td>Brae Burn</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/07/1946</td>
      <td>Harvard</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/20/1948</td>
      <td>Mass. Devens</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/02/1948</td>
      <td>Middlebury</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/12/1953</td>
      <td>Rensselaer</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/02/1954</td>
      <td>Clarkson</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/13/1954</td>
      <td>Army</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/18/1954</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/03/1954</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/28/1955</td>
      <td>Clarkson</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/29/1955</td>
      <td>Clarkson</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/05/1955</td>
      <td>Army</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/02/1955</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/03/1956</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/30/1956</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>8</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/22/1957</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/15/1958</td>
      <td>Rensselaer</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/10/1959</td>
      <td>Providence</td>
      <td>Unknown</td>
      <td>9</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/11/1959</td>
      <td>Yale</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/28/1959</td>
      <td>Colby</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/19/1960</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/02/1960</td>
      <td>Providence</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/17/1961</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/03/1961</td>
      <td>Norwich</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/01/1961</td>
      <td>Providence</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/15/1962</td>
      <td>Providence</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/24/1962</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/12/1963</td>
      <td>Rensselaer</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/23/1963</td>
      <td>Army</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>11/15/1963</td>
      <td>New Brunswick</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/16/1963</td>
      <td>New Brunswick</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>11/30/1963</td>
      <td>Princeton</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/29/1964</td>
      <td>Colby</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/22/1964</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>03/04/1964</td>
      <td>Providence</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/30/1965</td>
      <td>Colby</td>
      <td>Unknown</td>
      <td>8</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/06/1965</td>
      <td>Army</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-even">
      <td>11/26/1965</td>
      <td>St. Francis Xavier</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/27/1965</td>
      <td>New Brunswick</td>
      <td>Unknown</td>
      <td>8</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/04/1965</td>
      <td>Princeton</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/08/1966</td>
      <td>Colby</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/08/1966</td>
      <td>Northeastern</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>03/12/1966</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/19/1966</td>
      <td>Denver</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/28/1967</td>
      <td>Denver</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>11/24/1967</td>
      <td>Memorial Univ.</td>
      <td>Unknown</td>
      <td>8</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/25/1967</td>
      <td>New Brunswick</td>
      <td>Unknown</td>
      <td>13</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/10/1968</td>
      <td>Loyola of Montreal</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/07/1968</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/17/1968</td>
      <td>Army</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/03/1968</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/04/1969</td>
      <td>New Hampshire</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/13/1969</td>
      <td>Providence</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/29/1969</td>
      <td>Northeastern</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/03/1970</td>
      <td>Michigan Tech</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/31/1970</td>
      <td>Dartmouth</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>03/05/1971</td>
      <td>Colgate</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/08/1972</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/29/1972</td>
      <td>St. Louis</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/25/1972</td>
      <td>Minnesota Duluth</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/28/1972</td>
      <td>Michigan</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/30/1973</td>
      <td>Massachusetts</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/24/1973</td>
      <td>Colgate</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/29/1973</td>
      <td>Rensselaer</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/05/1974</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/12/1974</td>
      <td>Brown</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>02/16/1974</td>
      <td>Rensselaer</td>
      <td>Unknown</td>
      <td>9</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/28/1974</td>
      <td>St. Louis</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/04/1975</td>
      <td>Dartmouth</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/09/1976</td>
      <td>Clarkson</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-even">
      <td>11/20/1976</td>
      <td>Bowling Green</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/08/1977</td>
      <td>Cornell</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/29/1977</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/26/1977</td>
      <td>Boston College</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/11/1977</td>
      <td>Clarkson</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>03/12/1977</td>
      <td>New Hampshire</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/03/1977</td>
      <td>New Hampshire</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/07/1978</td>
      <td>Princeton</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/14/1978</td>
      <td>Clarkson</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/25/1978</td>
      <td>Colgate</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-even">
      <td>11/18/1978</td>
      <td>Toronto</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/29/1978</td>
      <td>Michigan Tech</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/13/1979</td>
      <td>Colgate</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>01/05/1980</td>
      <td>Denver</td>
      <td>Unknown</td>
      <td>5</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/24/1981</td>
      <td>St. Lawrence</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/12/1983</td>
      <td>Minnesota Duluth</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>10/12/1984</td>
      <td>Wisconsin</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/30/1985</td>
      <td>Minnesota Duluth</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/28/1986</td>
      <td>Denver</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>12/29/1986</td>
      <td>Colorado College</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
    <tr class="buhs-table-even">
      <td>03/03/1987</td>
      <td>UMass Lowell</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/05/1988</td>
      <td>New Hampshire</td>
      <td>Unknown</td>
      <td>3</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/30/1989</td>
      <td>Denver</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/17/1990</td>
      <td>Denver</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/28/1990</td>
      <td>Minnesota Duluth</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/29/1992</td>
      <td>Merrimack</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/16/1993</td>
      <td>Boston College</td>
      <td>Unknown</td>
      <td>7</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>02/13/1993</td>
      <td>Merrimack</td>
      <td>Unknown</td>
      <td>2</td>
    </tr>
    <tr class="buhs-table-even">
      <td>01/04/1994</td>
      <td>UMass Lowell</td>
      <td>Unknown</td>
      <td>1</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>11/25/1994</td>
      <td>Princeton</td>
      <td>Unknown</td>
      <td>6</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/31/1994</td>
      <td>Minnesota</td>
      <td>Unknown</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}