{% extends "layout.html" %}
{% block content %}
<form method="post" id="playerForm">
    <div class="sidebar-buhs offcanvas-buhs flex-container" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offcanvasPlayersFilters" aria-labelledby="offcanvasPlayersFiltersLabel">
        <div class="offcanvas-header sidebar-header-center" id="ocPlayerHeader">
            <h5 class="offcanvas-title" id="offcanvasPlayersFiltersLabel">Filters and Sorts</h5>
            <button type="button" class="btn-close text-reset mobile-view" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="genderDiv" class="filter">
                <label for="gender" class="recLabels">Gender:</label>
                <select class="btn dropdown-toggle custom-align" name="gender" id="gender" onchange="clearFilters(event)">
                    <option value="Mens" {% if selected_gender == 'Mens' %} selected {% endif %}>Mens</option>
                    <option value="Womens" {% if selected_gender == 'Womens' %} selected {% endif %}>Womens</option>
                </select>
            </div>
            <div id="typeDiv" class="filter">
                <label for="type" class="recLabels">Stats:</label>
                <select class="btn dropdown-toggle custom-align" name="type" id="type" onchange="clearFilters(event)">
                    <option value="career" {% if selected_type == 'career' %} selected {% endif %}>Career</option>
                    <option value="season" {% if selected_type == 'season' %} selected {% endif %}>Season</option>
                    <option value="game" {% if selected_type == 'game' %} selected {% endif %}>Game</option>
                    <option value="streak" {% if selected_type == 'streak' %} selected {% endif %}>Streaks</option>
                </select>
            </div>
            <div id="positionDiv" class="filter">
                <label for="position" class="recLabels">Position:</label>
                <select class="btn dropdown-toggle custom-align" name="position" id="position" onchange="clearFilters(event)">
                    <option value="skater" {% if selected_position == 'skater' %} selected {% endif %}>Skaters</option>
                    <option value="goalie" {% if selected_position == 'goalie' %} selected {% endif %}>Goalies</option>
                </select>
            </div>
            <div id="nameDiv" class="filter">
                <label for="name" class="recLabels">Name:</label>
                <input type="text" name="name" id="name" onchange="submitForm()">
            </div>
            <div id="numberDiv" class="filter season-stats">
                <label for="number" class="recLabels season-stats">Number:</label>
                <input class="season-stats" type="number" name="number" id="number" min=1 max=99 onchange="submitForm()">
            </div>
            <div id="sortDiv" class="filter">
                <input type="hidden" id="isAscending" name="isAscending" value="{{isAscending}}">
                <input type="hidden" id="sortval" name="sortval" value="{{sortval}}">
            </div>
            <div id="posDiv" class="filter season-stats game-stats skater-stats">
                <label id="posLabel" for="pos" class="recLabels season-stats game-stats skater-stats">Pos:</label>
                <select class="btn dropdown-toggle custom-align season-stats game-stats skater-stats" name="pos" id="pos" onchange="submitForm()">
                    <option value="all" {% if selected_pos == 'all' %} selected {% endif %}>All</option>
                    <option value="F" {% if selected_pos == 'F' %} selected {% endif %}>F</option>
                    <option value="D" {% if selected_pos == 'D' %} selected {% endif %}>D</option>
                    <option value="G" {% if selected_pos == 'G' %} selected {% endif %}>G</option>
                </select>
            </div>
            <div id="streakDiv" class="filter streak-stats">
                <label id="streakLabel" for="streak" class="recLabels streak-stats">Stat:</label>
                <select class="btn dropdown-toggle custom-align streak-stats" name="streak" id="streak" onchange="submitForm()">
                    <option value="goals" {% if selected_streak == 'goals' %} selected {% endif %}>Goals</option>
                    <option value="assists" {% if selected_streak == 'assists' %} selected {% endif %}>Assists</option>
                    <option value="pts" {% if selected_streak == 'pts' %} selected {% endif %}>Points</option>
                </select>               
            </div>
            <div id="streakMinDiv" class="filter">
                  <label for="streakmin" class="recLabels">Streak Min:</label>
                  <input type="number" name="streakmin" id="streakmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="yrDiv" class="filter season-stats game-stats">
                <label for="yr" class="recLabels season-stats game-stats">YR:</label>
                <select class="btn dropdown-toggle custom-align season-stats game-stats" name="yr" id="yr" onchange="submitForm()">
                    <option value="all" {% if selected_yr == 'all' %} selected {% endif %}>All</option>
                    <option value="FR" {% if selected_yr == 'FR' %} selected {% endif %}>FR</option>
                    <option value="SO" {% if selected_yr == 'SO' %} selected {% endif %}>SO</option>
                    <option value="JR" {% if selected_yr == 'JR' %} selected {% endif %}>JR</option>
                    <option value="SR" {% if selected_yr == 'SR' %} selected {% endif %}>SR</option>
                    <option value="GR" {% if selected_yr == 'GR' %} selected {% endif %}>GR</option>
                </select>
            </div>
            <div id="opponentDiv" class="filter game-stats">
                <label for="opponent" class="recLabels game-stats">Opponent:</label>
                <select class="btn dropdown-toggle custom-align game-stats" name="opponent" id="opponent" onchange="submitForm()">
                    <option value="all" {% if selected_opponent == 'all' %} selected {% endif %}> All </option>
                    {% for opponent in opponents_values %}
                        <option value="{{ opponent }}" {% if selected_opponent == opponent %} selected {% endif %}>
                            {{ opponent }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div id="arenaDiv" class="filter game-stats">
                <label for="arena" class="recLabels game-stats">Arena:</label>
                <select class="btn dropdown-toggle custom-align game-stats" name="arena" id="arena" onchange="submitForm()">
                    <option value="all" {% if selected_arena == 'all' %} selected {% endif %}> All </option>
                    {% for arena in arena_values %}
                        <option value="{{ arena }}" {% if selected_arena == arena %} selected {% endif %}>
                            {{ arena }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div id="tourneyDiv" class="filter game-stats">
                <label for="tourney" class="recLabels game-stats">Tournament:</label>
                <select class="btn dropdown-toggle custom-align game-stats" name="tourney" id="tourney" onchange="submitForm()">
                    <option value="all" {% if selected_tourney == 'all' %} selected {% endif %}> All </option>
                    {% for tourney in tourney_values %}
                        <option value="{{ tourney }}" {% if selected_tourney == tourney %} selected {% endif %}>
                            {{ tourney }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div id="locDiv" class="filter game-stats">
                <label for="location" class="recLabels game-stats">Location:</label>
                <select class="btn dropdown-toggle custom-align game-stats" name="location" id="location" onchange="submitForm()">
                    <option value="all" {% if selected_loc == 'all' %} selected {% endif %}>All</option>
                    <option value="Home" {% if selected_loc == 'Home' %} selected {% endif %}>Home</option>
                    <option value="Away" {% if selected_loc == 'Away' %} selected {% endif %}>Away</option>
                    <option value="Neutral" {% if selected_loc == 'Neutral' %} selected {% endif %}>Neutral</option>
                </select>
            </div>
            <div id="groupDiv" class="filter">
                <label for="group" class="recLabels">Stat Format:</label>
                <select class="btn dropdown-toggle custom-align" name="group" id="group" onchange="submitForm()">
                    <option value="" {% if selected_group == 'all' %} selected {% endif %}>Individual</option>
                    <option value="opponent" class='game-stats' {% if selected_group == "opponent" %} selected {% endif %}>Group by: Opponent</option>
                    <option value="arena" class='game-stats' {% if selected_group == "arena" %} selected {% endif %}>Group by: Arena</option>
                    <option value="tourney" class='game-stats' {% if selected_group == "tourney" %} selected {% endif %}>Group by: Tournament </option>
                    <option value="city" class="bio-data" {% if selected_group == "city" %} selected {% endif %}>Group by: City </option>
                    <option value="state" class="bio-data" {% if selected_group == "state" %} selected {% endif %}>Group by: State </option>
                    <option value="country" class="bio-data" {% if selected_group == "country" %} selected {% endif %}>Group by: Country </option>
                    <option value="round" class="draft-data" {% if selected_group == "round" %} selected {% endif %}>Group by: Round </option>
                    <option value="team" class="draft-data" {% if selected_group == "team" %} selected {% endif %}>Group by: Drafted Team </option>
                    <option value="splits" class='game-stats' {% if selected_group == "splits" %} selected {% endif %}>Splits</option>
                    <option value="records" class='game-stats' {% if selected_group == "records" %} selected {% endif %}>Situational Records</option>
                </select>
            </div>
            <div id="seasonDiv" class="filter">
                <label for="season" class="recLabels">Season:</label>
                <select class="btn dropdown-toggle custom-align" name="season" id="season" onchange="submitForm()">
                    <option value="all" {% if selected_season == 'all' %} selected {% endif %}>All</option>
                    {% for season in season_values %}
                        <option value="{{ season }}" {% if selected_season == season %} selected {% endif %}>
                            {{ season }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div id="dateDiv" class="filter game-stats">
                <label for="date" class="recLabels game-stats">Date:</label>
                <input class="game-stats" type="text" name="date" id="date" onchange="submitForm()">
            </div>
            <div id="gpDiv" class="filter">
                <label for="gpop" class="recLabels">GP:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="gpop" id="gpop" onchange="submitForm()">
                    <option value="==" {% if selected_gpop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_gpop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_gpop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_gpop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_gpop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="gpmin" id="gpmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="goalDiv" class="skater-stats filter">
                <label for="goalop" class="recLabels">Goals:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="goalop" id="goalop" onchange="submitForm()">
                    <option value="==" {% if selected_goalop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_goalop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_goalop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_goalop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_goalop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="goalmin" id="goalmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="assistsDiv" class="skater-stats filter">
                <label for="assistop" class="recLabels">Assists:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="assistop" id="assistop" onchange="submitForm()">
                    <option value="==" {% if selected_assistop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_assistop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_assistop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_assistop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_assistop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="assistmin" id="assistmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="ptsDiv" class="skater-stats filter">
                <label for="ptsop" class="recLabels">Pts:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="ptsop" id="ptsop" onchange="submitForm()">
                    <option value="==" {% if selected_ptsop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_ptsop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_ptsop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_ptsop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_ptsop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="ptsmin" id="ptsmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="pensDiv" class="skater-stats filter">
                <label for="pensop" class="recLabels">Pens:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="pensop" id="pensop" onchange="submitForm()">
                    <option value="==" {% if selected_pensop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_pensop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_pensop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_pensop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_pensop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="pensmin" id="pensmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="pimDiv" class="skater-stats filter">
                <label for="pimop" class="recLabels">PIM:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="pimop" id="pimop" onchange="submitForm()">
                    <option value="==" {% if selected_pimop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_pimop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_pimop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_pimop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_pimop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="pimmin" id="pimmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="minsDiv" class="goalie-stats filter">
                <label for="minsop" class="recLabels">Mins:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="minsop" id="minsop" onchange="submitForm()">
                    <option value="==" {% if selected_minsop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_minsop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_minsop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_minsop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_minsop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="minsmin" id="minsmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="gaDiv" class="goalie-stats filter">
                <label for="gaop" class="recLabels">GA:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="gaop" id="gaop" onchange="submitForm()">
                    <option value="==" {% if selected_gaop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_gaop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_gaop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_gaop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_gaop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="gamin" id="gamin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="savesDiv" class="goalie-stats filter">
                <label for="savesop" class="recLabels">Saves:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="savesop" id="savesop" onchange="submitForm()">
                    <option value="==" {% if selected_savesop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_savesop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_savesop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_savesop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_savesop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="savesmin" id="savesmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            
            <hr class="hr hr-blurry bio-data" />
            
            <div id="cityDiv" class="filter bio-data">
                <label for="city" class="recLabels">City:</label>
                <select class="btn dropdown-toggle custom-align" name="city" id="city" onchange="submitForm()">
                    <option value="all" {% if selected_city == 'all' %} selected {% endif %}> All </option>
                    {% for city in city_values %}
                        <option value="{{ city }}" {% if selected_city == city %} selected {% endif %}>
                            {{ city }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div id="stateDiv" class="filter bio-data">
                <label for="state" class="recLabels">State:</label>
                <select class="btn dropdown-toggle custom-align" name="state" id="state" onchange="submitForm()">
                    <option value="all" {% if selected_state == 'all' %} selected {% endif %}> All </option>
                    {% for state in state_values %}
                        <option value="{{ state }}" {% if selected_state == state %} selected {% endif %}>
                            {{ state }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div id="countryDiv" class="filter bio-data">
                <label for="country" class="recLabels">Country:</label>
                <select class="btn dropdown-toggle custom-align" name="country" id="country" onchange="submitForm()">
                    <option value="all" {% if selected_country == 'all' %} selected {% endif %}> All </option>
                    {% for country in country_values %}
                        <option value="{{ country }}" {% if selected_country == country %} selected {% endif %}>
                            {{ country }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            
            <hr class="hr hr-blurry draft-data" />
            
            <div id="rdDiv" class="draft-data filter">
                <label for="rdop" class="recLabels">Round:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="rdop" id="rdop" onchange="submitForm()">
                    <option value="==" {% if selected_rdop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_rdop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_rdop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_rdop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_rdop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="rdmin" id="rdmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="pirDiv" class="draft-data filter">
                <label for="pirop" class="recLabels">Pick in Round:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="pirop" id="pirop" onchange="submitForm()">
                    <option value="==" {% if selected_pirop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_pirop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_pirop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_pirop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_pirop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="pirmin" id="pirmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            <div id="pickDiv" class="draft-data filter">
                <label for="pickop" class="recLabels">Pick:</label>
                <select class="btn dropdown-toggle custom-align op-drop" name="pickop" id="pickop" onchange="submitForm()">
                    <option value="==" {% if selected_pickop == '==' %} selected {% endif %}> = </option>
                    <option value=">=" {% if selected_pickop == '>=' %} selected {% endif %}> >= </option>
                    <option value=">" {% if selected_pickop == '>' %} selected {% endif %}> > </option>
                    <option value="<" {% if selected_pickop == '<' %} selected {% endif %}> < </option>
                    <option value="<=" {% if selected_pickop == '<=' %} selected {% endif %}> <= </option>
                </select>
                <input type="number" name="pickmin" id="pickmin" min=0 onchange="submitForm()" onsubmit="submitForm()">
            </div>
            
            <div id="draftTeamDiv" class="filter draft-data">
                <label for="draftedTeam" class="recLabels">Drafted Team:</label>
                <select class="btn dropdown-toggle custom-align" name="draftedTeam" id="draftedTeam" onchange="submitForm()">
                    <option value="all" {% if selected_drafted_team == 'all' %} selected {% endif %}> All </option>
                    {% for draftedTeam in drafted_team_values %}
                        <option value="{{ draftedTeam }}" {% if selected_drafted_team == draftedTeam %} selected {% endif %}>
                            {{ draftedTeam }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div id="draftStatusDiv" class="filter draft-data">
                <label for="draftStatus" class="recLabels">Draft Status:</label>
                <select class="btn dropdown-toggle custom-align" name="draftStatus" id="draftStatus" onchange="submitForm()">
                    <option value="all" {% if selected_draft_status == 'all' %} selected {% endif %}>All</option>
                    <option value="Drafted" {% if selected_draft_status == 'Drafted' %} selected {% endif %}>Drafted</option>
                    <option value="Undrafted" {% if selected_draft_status == 'Undrafted' %} selected {% endif %}>Undrafted</option>
                </select>
            </div>
            
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showCaps" name="showCaps" value="false"  onchange="document.getElementById('showCapsStatus').value = this.checked; submitForm()"
                    {% if showCapsStatus == 'true' %}checked{% endif %}
                >
                <label id='capsLabel' class="form-check-label" for="showCaps">
                    Captains Only
                </label>
            <input type="hidden" id="showCapsStatus" name="showCapsStatus" value="{{ showCapsStatus }}">
            
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showTransfers" name="showTransfers" value="false"  onchange="document.getElementById('showTransfersStatus').value = this.checked; submitForm()"
                    {% if showTransfersStatus == 'true' %}checked{% endif %}
                >
                <label id='transfersLabel' class="form-check-label" for="showTransfers">
                    Transfers Only
                </label>
            <input type="hidden" id="showTransfersStatus" name="showTransfersStatus" value="{{ showTransfersStatus }}">
            
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showPros" name="showPros" value="false"  onchange="document.getElementById('showProsStatus').value = this.checked; submitForm()"
                    {% if showProsStatus == 'true' %}checked{% endif %}
                >
                <label id='proLabel' class="form-check-label" for="showPros">NHLers Only</label>
            <input type="hidden" id="showProsStatus" name="showProsStatus" value="{{ showProsStatus }}">
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showBioData" name="showBioData" value="false"  onchange="document.getElementById('showBioDataStatus').value = this.checked; submitForm()"
                    {% if showBioDataStatus == 'true' %}checked{% endif %}
                >
                <label id='BioDataLabel' class="form-check-label" for="showBioData">Show Bio Data</label>
            <input type="hidden" id="showBioDataStatus" name="showBioDataStatus" value="{{ showBioDataStatus }}">
            </div>
            
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showDraftData" name="showDraftData" value="false"  onchange="document.getElementById('showDraftDataStatus').value = this.checked; submitForm()"
                    {% if showDraftDataStatus == 'true' %}checked{% endif %}
                >
                <label id='DraftDataLabel' class="form-check-label" for="showDraftData">Show Draft Data</label>
            <input type="hidden" id="showDraftDataStatus" name="showDraftDataStatus" value="{{ showDraftDataStatus }}">
            </div>
            
            <div id="seasRange">
                <label for="seasonStart" class="recLabels" id='seasonRange'>Season Range:</label>
                <div class="dropdown-container filter">
                    <select class="btn dropdown-toggle" name="seasonStart" id="seasonStart" onchange="submitForm()">

                        {% for seasonStart in season_values %}

                            <option value="{{ seasonStart }}" {% if selected_startSeas == seasonStart %} selected {% endif %}>

                                {{ seasonStart }}

                            </option>

                        {% endfor %}

                    </select>
                    <p id='dash'>_</p>
                    <select class="btn dropdown-toggle" name="seasonEnd" id="seasonEnd" onchange="submitForm()">
                        {% for seasonEnd in season_values %}
                            <option value="{{ seasonEnd }}" {% if selected_endSeas == seasonEnd %} selected {% endif %}>
                                {{ seasonEnd }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" id='resetButton' class='btn btn-outline-danger'>Reset</button>
        </div>
    </div>
</form>
<div class="page-body">
    <button class="btn btn-sort-filter mobile-view" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPlayersFilters" aria-controls="offcanvasPlayersFilters">
        Sort and Filter
    </button>
    <div  id="statTable">
        {% autoescape false %}
        {{statTable}}
        {% endautoescape %}
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/players.js') }}"></script>
{% endblock %}