{% extends "layout.html" %}
{% block content %}
<input type="submit" id='filterMenu' value="&#9881&#xFE0E;" />
<div class="dropdown-container options-menu" id="options-menu">
    <form method="post" id="playerForm">
        <select class="btn btn-custom-red dropdown-toggle" name="gender" id="gender" onchange="clearFilters(event)">
            <option value="Mens" {% if selected_gender == 'Mens' %} selected {% endif %}>Mens</option>
            <option value="Womens" {% if selected_gender == 'Womens' %} selected {% endif %}>Womens</option>
        </select>
        <select class="btn btn-custom-red dropdown-toggle" name="position" id="position" onchange="clearFilters(event)">
            <option value="skater" {% if selected_position == 'skater' %} selected {% endif %}>Skaters</option>
            <option value="goalie" {% if selected_position == 'goalie' %} selected {% endif %}>Goalies</option>
        </select>
        <select class="btn btn-custom-red dropdown-toggle" name="type" id="type" onchange="clearFilters(event)">
            <option value="career" {% if selected_type == 'career' %} selected {% endif %}>Career</option>
            <option value="season" {% if selected_type == 'season' %} selected {% endif %}>Season</option>
            <option value="game" {% if selected_type == 'game' %} selected {% endif %}>Game</option>
        </select>
        <input type="text" name="name" id="name" value="{{ name }}" placeholder="{{name}}" onchange="submitForm()">
        <input class="season-stats" type="number" name="number" id="number" value="{{ number }}" placeholder="{{number}}" min=1 max=99 onchange="submitForm()">
        <input type="hidden" id="isAscending" name="isAscending" value="{{isAscending}}">
        <input type="hidden" id="sortval" name="sortval" value="{{sortval}}">
        <select class="btn btn-custom-red dropdown-toggle season-stats game-stats skater-stats" name="pos" id="pos" onchange="submitForm()">
            <option value="all" {% if selected_pos == 'all' %} selected {% endif %}>Position</option>
            <option value="F" {% if selected_pos == 'F' %} selected {% endif %}>F</option>
            <option value="D" {% if selected_pos == 'D' %} selected {% endif %}>D</option>
            <option value="G" {% if selected_pos == 'G' %} selected {% endif %}>G</option>
        </select>
        <select class="btn btn-custom-red dropdown-toggle season-stats game-stats" name="yr" id="yr" onchange="submitForm()">
            <option value="all" {% if selected_yr == 'all' %} selected {% endif %}>YR</option>
            <option value="FR" {% if selected_yr == 'FR' %} selected {% endif %}>FR</option>
            <option value="SO" {% if selected_yr == 'SO' %} selected {% endif %}>SO</option>
            <option value="JR" {% if selected_yr == 'JR' %} selected {% endif %}>JR</option>
            <option value="SR" {% if selected_yr == 'SR' %} selected {% endif %}>SR</option>
            <option value="GR" {% if selected_yr == 'GR' %} selected {% endif %}>GR</option>
        </select>
        <select class="btn btn-custom-red dropdown-toggle game-stats" name="opponent" id="opponent" onchange="submitForm()">
            <option value="all" {% if selected_opponent == 'all' %} selected {% endif %}> Opponent </option>
            {% for opponent in opponents_values %}
                <option value="{{ opponent }}" {% if selected_opponent == opponent %} selected {% endif %}>
                    {{ opponent }}
                </option>
            {% endfor %}
        </select>
        <select class="btn btn-custom-red dropdown-toggle game-stats" name="group" id="group" onchange="submitForm()">
            <option value="" {% if selected_group == 'all' %} selected {% endif %}>Grouping</option>
            <option value="opponent" {% if selected_group == "" %} selected {% endif %}>Group by: Opponent</option>
            <option value="splits" {% if selected_group == "" %} selected {% endif %}>Splits</option>
            <option value="records" {% if selected_group == "" %} selected {% endif %}>Situational Records</option>
        </select>
        <select class="btn btn-custom-red dropdown-toggle" name="season" id="season" onchange="submitForm()">
            <option value="all" {% if selected_season == 'all' %} selected {% endif %}>Season</option>
            {% for season in season_values %}
                <option value="{{ season }}" {% if selected_season == season %} selected {% endif %}>
                    {{ season }}
                </option>
            {% endfor %}
        </select>
        <input class="game-stats" type="text" name="date" id="date" value="{{ date }}" placeholder="{{date}}" onchange="submitForm()">
        <input type="submit" id='resetButton' value="Reset" />
        <div class='dropdown-container'>
            <select class="btn btn-custom-red dropdown-toggle" name="seasonStart" id="seasonStart" onchange="submitForm()">
                {% for seasonStart in season_values %}
                    <option value="{{ seasonStart }}" {% if selected_startSeas == seasonStart %} selected {% endif %}>
                        {{ seasonStart }}
                    </option>
                {% endfor %}
            </select>
            <p id='dash'>_</p>
            <select class="btn btn-custom-red dropdown-toggle" name="seasonEnd" id="seasonEnd" onchange="submitForm()">
                {% for seasonEnd in season_values %}
                    <option value="{{ seasonEnd }}" {% if selected_endSeas == seasonEnd %} selected {% endif %}>
                        {{ seasonEnd }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<div id="statTable">
    {% autoescape false %}
    {{statTable}}
    {% endautoescape %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/players.js') }}"></script>
{% endblock %}