<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <title>BU Hockey Stats</title>
      <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <h1>BU Hockey Stats</h1>
      <h2 class="clickable-heading">
        <a class='link' href="/records">Records</a>
        <a class='link' href="/players">Players</a>
        <a class='link' href="/statsbot">Stats Bot</a>
      </h2>
      <input type = "submit" id='filterMenu' value = "&#9881&#xFE0E;"/>
      <div class="dropdown-container options-menu" id="options-menu">
         <form method="post" id="resForm">
            <select class="btn btn-custom-red dropdown-toggle" name="gender" id="gender" onchange="submitForm(this)">
            <option value="Mens" {% if selected_gender == 'Mens' %} selected {% endif %} >Mens</option>
            <option value="Womens" {% if selected_gender == 'Womens' %} selected {% endif %}>Womens</option>
            </select>
            <select class="btn btn-custom-red dropdown-toggle" name="sortval" id="sortval" onchange="submitForm(this)">
            <option value="date" {% if selected_sort == 'date' %} selected {% endif %} >Date</option>
            <option value="GD" {% if selected_sort == 'GD' %} selected {% endif %}>MOV</option>
            <option value="BUScore" {% if selected_sort == 'BUScore' %} selected {% endif %}>Goals Scored</option>
            <option value="OppoScore" {% if selected_sort == 'OppoScore' %} selected {% endif %}>Goals Allowed</option>
            </select>
            <span id="arrowUp" class="arrow-up" onclick="toggleArrow();updateForm(true)">&#9650;</span>
            <span id="arrowDown" class="arrow-down" onclick="toggleArrow();updateForm(false)">&#9660;</span>
            <input type="hidden" id="isAscending" name="isAscending" value="{{isAscending}}">
            <select class="btn btn-custom-red dropdown-toggle" name="opponent" id="opponent" onchange="submitForm(this)">
            <option value="all" {% if selected_opponent == 'all' %} selected {% endif %}>Opponent</option>
            {% for opponent in opponents_values %}
            <option value="{{ opponent }}" {% if selected_opponent == opponent %} selected {% endif %}>{{ opponent }}</option>
            {% endfor %}
            </select>
            <select class="btn btn-custom-red dropdown-toggle" id="DOW" name="DOW" onchange="submitForm(this)">
            <option value=-1 {% if selected_dow == -1 %} selected {% endif %} >DOW</option>
            <option value=6 {% if selected_dow == 6 %} selected {% endif %} >Sunday</option>
            <option value=0 {% if selected_dow == 0 %} selected {% endif %} >Monday</option>
            <option value=1 {% if selected_dow == 1 %} selected {% endif %} >Tuesday</option>
            <option value=2 {% if selected_dow == 2 %} selected {% endif %} >Wednesday</option>
            <option value=3 {% if selected_dow == 3 %} selected {% endif %} >Thursday</option>
            <option value=4 {% if selected_dow == 4 %} selected {% endif %} >Friday</option>
            <option value=5 {% if selected_dow == 5 %} selected {% endif %} >Saturday</option>
            </select>
            <select class="btn btn-custom-red dropdown-toggle" id="month" name="month" onchange="submitForm(this)">
               <option value=0 {% if selected_month == 0%} selected {% endif %}>Month</option>
               <option value=1 {% if selected_month == 1%} selected {% endif %}>January</option>
               <option value=2 {% if selected_month == 2%} selected {% endif %}>February</option>
               <option value=3 {% if selected_month == 3%} selected {% endif %}>March</option>
               <option value=4 {% if selected_month == 4%} selected {% endif %}>April</option>
               <option value=5 {% if selected_month == 5%} selected {% endif %}>May</option>
               <option value=6 {% if selected_month == 6%} selected {% endif %}>June</option>
               <option value=7 {% if selected_month == 7%} selected {% endif %}>July</option>
               <option value=8 {% if selected_month == 8%} selected {% endif %}>August</option>
               <option value=9 {% if selected_month == 9%} selected {% endif %}>September</option>
               <option value=10 {% if selected_month == 10%} selected {% endif %}>October</option>
               <option value=11 {% if selected_month == 11%} selected {% endif %}>November</option>
               <option value=12 {% if selected_month == 12%} selected {% endif %}>December</option>
            </select>
            <select class="btn btn-custom-red dropdown-toggle" id="day" name="day" onchange="submitForm(this)">
            <option value=0>Day</option>
            </select>
            <select class="btn btn-custom-red dropdown-toggle" name="season" id="season" onchange="submitForm(this)">
            <option value="all" {% if selected_season == 'all' %} selected {% endif %}>Season</option>
            {% for season in season_values %}
            <option value="{{ season }}" {% if selected_season == season %} selected {% endif %}>{{ season }}</option>
            {% endfor %}
            </select>
            <select class="btn btn-custom-red dropdown-toggle" name="location" id="location" onchange="submitForm(this)">
            <option value="all" {% if selected_location == 'all' %} selected {% endif %} >Location</option>
            <option value="Home" {% if selected_location == 'Home' %} selected {% endif %} >Home</option>
            <option value="Away" {% if selected_location == 'Away' %} selected {% endif %}>Away</option>
            <option value="Neutral" {% if selected_location == 'Neutral' %} selected {% endif %}>Neutral</option>
            </select>
            <select class="btn btn-custom-red dropdown-toggle" name="buscoreop" id="buscoreop" onchange="submitForm(this)">
            <option value="==" {% if selected_buop == '==' %} selected {% endif %}>=</option>
            <option value=">=" {% if selected_buop == '>=' %} selected {% endif %}>>=</option>
            <option value=">" {% if selected_buop == '>' %} selected {% endif %}>></option>
            <option value="<" {% if selected_buop == '<' %} selected {% endif %}><</option>
            <option value="<=" {% if selected_buop == '<=' %} selected {% endif %}><=</option>
            </select>
            <input type="number" name="buscore" id="buscore" value="{{ buscore }}" placeholder="BU Score" min=0 onchange="submitForm(this)">
            <select class="btn btn-custom-red dropdown-toggle" name="oppscoreop" id="oppscoreop" onchange="submitForm(this)">
            <option value="==" {% if selected_oppop == '==' %} selected {% endif %}>=</option>
            <option value=">=" {% if selected_oppop == '>=' %} selected {% endif %}>>=</option>
            <option value=">" {% if selected_oppop == '>' %} selected {% endif %}>></option>
            <option value="<" {% if selected_oppop == '<' %} selected {% endif %}>&lt;</option>
            <option value="<=" {% if selected_oppop == '<=' %} selected {% endif %}>&lt;=</option>
            </select>
            <input type="number" name="oppscore" id="oppscore" value="{{ oppscore }}" placeholder="Opp Score" min=0 onchange="submitForm(this)">
            <select class="btn btn-custom-red dropdown-toggle" name="arena" id="arena" onchange="submitForm(this)">
            <option value="all" {% if selected_arena == 'all' %} selected {% endif %}>Arena</option>
            {% for arena in arena_values %}
            <option value="{{ arena }}" {% if selected_arena == arena %} selected {% endif %}>{{ arena }}</option>
            {% endfor %}
            </select>
            <select class="btn btn-custom-red dropdown-toggle" name="tourney" id="tourney" onchange="submitForm(this)">
            {% for tourney in tourney_values %}
            <option value="{{ tourney }}" {% if selected_tourney == tourney %} selected {% endif %}>{{ tourney }}</option>
            {% endfor %}
            </select>
            <select class="btn btn-custom-red dropdown-toggle" name="coach" id="coach" onchange="submitForm(this)">
            <option value="all" {% if selected_coach == 'all' %} selected {% endif %}>Coach</option>
            {% for coach in coach_values %}
            <option value="{{ coach }}" {% if selected_coach == coach %} selected {% endif %}>{{ coach }}</option>
            {% endfor %}
            </select>
            <input type = "submit" id='resetButton' value = "Reset"  />
            
      </div>
      <div class='dropdown-container'>
      <select class="btn btn-custom-red dropdown-toggle" name="range" id="range" onchange="toggleDropdowns()">
      <option value="year" {% if selected_range == "year" %} selected {% endif %}>Year Range:</option>
      <option value="season" {% if selected_range == "season" %} selected {% endif %}>Season Range:</option>
      </select>
      <input type="number" name="startYear" id="startYear" value="{{ startYear }}" placeholder="{{startYear}}" min={{minYear}} max={{maxYear}} onchange="submitForm(this)" style="display: none;">
      <select class="btn btn-custom-red dropdown-toggle" name="seasonStart" id="seasonStart" onchange="submitForm(this)" style="display: none;">
      {% for seasonStart in season_values %}
      <option value="{{ seasonStart }}" {% if selected_startSeas == seasonStart %} selected {% endif %}>{{ seasonStart }}</option>
      {% endfor %}
      </select>
      <p id='dash'>_</p>
      <input type="number" name="endYear" id="endYear" value="{{ endYear }}" placeholder="{{endYear}}" min={{minYear}} max={{maxYear}} onchange="submitForm(this)" style="display: none;">
      <select class="btn btn-custom-red dropdown-toggle" name="seasonEnd" id="seasonEnd" onchange="submitForm(this)" style="display: none;">
      {% for seasonEnd in season_values %}
      <option value="{{ seasonEnd }}" {% if selected_endSeas == seasonEnd %} selected {% endif %}>{{ seasonEnd }}</option>
      {% endfor %}
      </select>
      </div>
      <p id="record"> Record: {{result}}<p>
      <div class="checkbox-container">
      <input type="checkbox" id="hideEx" name="hideEx" value="true" onchange="submitForm(this)"> 
      <label for="hideEx" class="checkbox-label">Hide Exhibitions</label>
      <input type="hidden" id="hideExStatus" name="hideExStatus" value="{{hideExStatus}}">
      </div>
      </form>
      <script>
         
         document.getElementById("resetButton").addEventListener("click", clearFilers);
         
         function clearFilers(event) {
           document.getElementById("arena").value = "all";
           document.getElementById("location").value = "all";
           document.getElementById("opponent").value = "all";
           document.getElementById("season").value = "all";
           document.getElementById("buscoreop").value = "==";
           document.getElementById("buscore").value = "BU Score";
           document.getElementById("oppscoreop").value = "==";
           document.getElementById("oppscore").value = "Opp Score";
           document.getElementById("startYear").value = {{minYear}};
           document.getElementById("endYear").value = {{maxYear}};
           document.getElementById("seasonStart").value = "{{season_values[0]}}";
           document.getElementById("seasonEnd").value = "{{season_values[-1]}}";
           document.getElementById("DOW").value = -1;
           document.getElementById("month").value = 0;
           document.getElementById("day").value = 0;
           document.getElementById("tourney").value= "Tournament";
           document.getElementById("coach").value= "all";
           event.preventDefault();
           submitForm(event);
         }
      </script>
      <script>
         var arrowStateField = document.getElementById('isAscending');
         if (arrowStateField.value === "True") {
           arrowUp.style.display = 'none';
           arrowDown.style.display = 'inline-block';
         
           
         } else {
           arrowUp.style.display = 'inline-block';
           arrowDown.style.display = 'none';
         }
         var checkbox = document.getElementById("hideEx");
         var checkboxState = document.getElementById("hideExStatus");
         checkbox.checked = checkboxState.value === "true";
         
         
         var selection = document.getElementById("range").value;
         var sYear = document.getElementById("startYear");
         var eYear = document.getElementById("endYear");
         var sSeason = document.getElementById("seasonStart");
         var eSeason = document.getElementById("seasonEnd");
         if (selection === "year") {
           sYear.style.display = "block";
           eYear.style.display = "block";
           sYear.disabled = false;
           eYear.disabled = false;
           sSeason.style.display = "none";
           eSeason.style.display = "none";
           sSeason.disabled = true;
           eSeason.disabled = true;
           
         } else if (selection === "season") {
           sYear.style.display = "none";
           eYear.style.display = "none";
           sYear.disabled = true;
           eYear.disabled = true;
           sSeason.style.display = "block";
           eSeason.style.display = "block";
           sSeason.disabled = false;
           eSeason.disabled = false;
         } else {
           sSeason.style.display = "block";
           eSeason.style.display = "block";
           sYear.style.display = "block";
           eYear.style.display = "block";
           sSeason.disabled = false;
           eSeason.disabled = false;
           sYear.disabled = false;
           eYear.disabled = false;
         }
         
         function toggleArrow() {
         var arrowUp = document.getElementById('arrowUp');
         var arrowDown = document.getElementById('arrowDown');
         var arrowStateField = document.getElementById('isAscending');
         if (arrowStateField.value === "True") {
           arrowDown.style.display = 'none';
           arrowUp.style.display = 'inline-block';
           return true;
         } else {
           arrowDown.style.display = 'inline-block';
           arrowUp.style.display = 'none';
           return false;
         }
         }
         function updateForm(state) {
         var arrowStateField = document.getElementById('isAscending');
         arrowStateField.value = state;
         submitForm(this);
         
         }
         function toggleDropdowns() {
         var selection = document.getElementById("range").value;
         
         var sYear = document.getElementById("startYear");
         var eYear = document.getElementById("endYear");
         var sSeason = document.getElementById("seasonStart");
         var eSeason = document.getElementById("seasonEnd");
         
         if (selection === "year") {
           sYear.style.display = "block";
           eYear.style.display = "block";
           sYear.disabled = false;
           eYear.disabled = false;
           sSeason.style.display = "none";
           eSeason.style.display = "none";
           sSeason.disabled = true;
           eSeason.disabled = true;
           
         } else if (selection === "season") {
           sYear.style.display = "none";
           eYear.style.display = "none";
           sYear.disabled = true;
           eYear.disabled = true;
           sSeason.style.display = "block";
           eSeason.style.display = "block";
           sSeason.disabled = false;
           eSeason.disabled = false;
         } else {
           sSeason.style.display = "block";
           eSeason.style.display = "block";
           sYear.style.display = "block";
           eYear.style.display = "block";
           sSeason.disabled = false;
           eSeason.disabled = false;
           sYear.disabled = false;
           eYear.disabled = false;
         }
         }
      </script>
      </script>  
    <script>
      const monthSelect = document.getElementById('month');
      const daySelect = document.getElementById('day');

      // Function to populate the days based on the selected month
      function populateDays() {
        const selectedMonth = parseInt(monthSelect.value);
        const daysInMonth = new Date(2020, selectedMonth, 0).getDate();
        if (selectedMonth === 0) {
          daySelect.innerHTML = ''; // Clear the day dropdown
          const defaultOption = document.createElement('option');
          defaultOption.value = 0;
          defaultOption.textContent = 'Day';
          defaultOption.selected = true;
          daySelect.appendChild(defaultOption);
          return;
        }
        daySelect.innerHTML = ''; // Clear the day dropdown
        // Add default "Day" option
          const defaultOption = document.createElement('option');
          defaultOption.value = 0;
          defaultOption.textContent = 'Day';
          defaultOption.selected = true;
          daySelect.appendChild(defaultOption);
        // Add options for each day
        for (let i = 1; i <= daysInMonth; i++) {
          const option = document.createElement('option');
          option.value = i;
          option.textContent = i;
          
          if (i === parseInt(daySelect.value)) {
            option.selected = true; // Mark the option as selected
          }

          daySelect.appendChild(option);
        }
      }

      // Populate the days initially
      populateDays();

      // Add event listener to the month dropdown
      monthSelect.addEventListener('change', populateDays);
      document.getElementById("day").value={{selected_day}};
    </script>      
    <script>
    var mobileButton = document.getElementById('filterMenu');
var hiddenDiv = document.getElementById('options-menu');

mobileButton.addEventListener('click', function() {
  if (hiddenDiv.style.display === 'none' || hiddenDiv.style.display === '' ) {
    hiddenDiv.style.display = 'block';
  } else {
    hiddenDiv.style.display = 'none';
  }
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  
    function submitForm(event) {
      // Send an AJAX POST request to the server
      $.ajax({
        type: 'POST',
        url: '/',
        data: $('#resForm').serialize(),
        success: function(response) {
          // Update the table with the received HTML
          document.getElementById('rTable').innerHTML=response;
        }
      });
    }
  </script>
<div id="rTable">
{% autoescape false %}
{{resTable}}
{% endautoescape %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   </body>
</html>
