{% extends "layout.html" %}
{% block content %}
<div class="p-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active note-nav" id="mens-2223-tab" data-bs-toggle="tab" data-bs-target="#nav-mens-2223" type="button" role="tab" aria-controls="mens-2223" aria-selected="true">2022-23 (Men's)</button>
    <button class="nav-link note-nav" id="womens-2223-tab" data-bs-toggle="tab" data-bs-target="#nav-womens-2223" type="button" role="tab" aria-controls="womens-2223" aria-selected="false">2022-23 (Women's)</button>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-mens-2223" role="tabpanel" aria-labelledby="mens-2223-tab">
        <div class="card note-card" id="m2223-jersey-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Jersey Records</h5>
            <p class="card-text">
              <table>
                <tbody>
                <tr><td>White "Candy Canes"</td><td>14-2</td></tr>
                <tr><td>Red "Candy Canes"</td><td>9-3</td></tr>
                <tr><td>Red "Terrier" Throwbacks</td><td>2-0</td></tr>
                <tr><td>White "Terrier" Throwbacks</td><td>3-3</td></tr>
                <tr><td>"Boston University" Reds</td><td>1-3</td></tr>
                </tbody>
              </table>
            </p>
          </div>
        </div>
        <div class="card note-card" id="m2223-HT-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Hat Tricks</h5>
            <p class="card-text">
              {% autoescape false %}
              {{mHatTricksCurr}}
              {% endautoescape %}
            </p>
          </div>
        </div>
        <div class="card note-card" id="m2223-SO-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Shutouts</h5>
            <p class="card-text">
              {% autoescape false %}
              {{mShutoutsCurr}}
              {% endautoescape %}
            </p>
          </div>
        </div>
        <div class="card note-card" id="m2223-LongPt-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Longest Point Streaks</h5>
            <p class="card-text">
              {% autoescape false %}
              {{mLongPtStreak}}
              {% endautoescape %}
            </p>
          </div>
        </div>
        <div class="card note-card" id="m2223-ActivePt-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Active Point Streaks</h5>
            <p class="card-text">
              {% autoescape false %}
              {{mActivePtStreak}}
              {% endautoescape %}
            </p>
          </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-womens-2223" role="tabpanel" aria-labelledby="womens-2223-tab">
            <div class="card note-card" id="w2223-HT-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Hat Tricks</h5>
            <p class="card-text">
              {% autoescape false %}
              {{wHatTricksCurr}}
              {% endautoescape %}
            </p>
          </div>
        </div>
        <div class="card note-card" id="w2223-SO-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Shutouts</h5>
            <p class="card-text">
              {% autoescape false %}
              {{wShutoutsCurr}}
              {% endautoescape %}
            </p>
          </div>
        </div>
        <div class="card note-card" id="w2223-LongPt-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Longest Point Streaks</h5>
            <p class="card-text">
              {% autoescape false %}
              {{wLongPtStreak}}
              {% endautoescape %}
            </p>
          </div>
        </div>
        <div class="card note-card" id="m2223-ActivePt-card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">Active Point Streaks</h5>
            <p class="card-text">
              {% autoescape false %}
              {{wActivePtStreak}}
              {% endautoescape %}
            </p>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}