{% extends "layout.html" %}
{% block content %}
<div class="p-3">
<h3 class="stat-table">Terrier Tidbits</h3>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
       <a class="link-no-pad" href="/birthdays">Birthdays</a>
    </li>
    </li>
        <li class="nav-item">
       <a class="link-no-pad" href="/nhlers">NHLers</a>
    </li>
    </li>
        <li class="nav-item">
       <a class="link-no-pad" href="/nhlteammates">NHL Teammates</a>
    </li>
    </li>
    <li class="nav-item">
       <a class="link-no-pad" href="/pwhlers">PWHlers</a>
    </li>
    <li class="nav-item">
       <a class="link-no-pad" href="/pwhlteammates">PWHL Teammates</a>
    </li>
    <li class="nav-item">
       <a class="link-no-pad" href="/trio">T. Anthony Trio @TerrierHockey Tallies</a>
    </li>
    <li class="nav-item">
       <a class="link-no-pad" href="/winterclassic">Terriers in the Winter Classic</a>
    </li>
    <li class="nav-item">
       <a class="link-no-pad" href="/bloodlines">Bloodlines</a>
    </li>
    </li>
        <li class="nav-item">
       <a class="link-no-pad" href="/worldjuniors">World Junior Championship</a>
    </li>
    </li>
        <li class="nav-item">
       <a class="link-no-pad" href="/olympians">Olympians</a>
    </li>
    
 </ul>
</div>
{% endblock %}