{% extends "layout.html" %}
{% block content %}
<div class="p-3">
<h3 class="stat-table">T. Anthony Trio @TerrierHockey Tallies</h3>
<table class="stat-table">

  <thead class="buhs-header">
    <tr>
      <th>Date</th>
      <th>Team</th>
      <th>Location</th>
      <th>Opponent</th>
      <th>Period</th>
      <th>Time</th>
      <th>Goal Type</th>
      <th>Goal Scorer</th>
      <th>Primary Assist</th>
      <th>Secondary Assist</th>
    </tr>
  </thead>
  <tbody>
    <tr class="buhs-table-odd">
      <td>4/17/19</td>
      <td>BOS</td>
      <td>@</td>
      <td>TOR</td>
      <td>1</td>
      <td>03:03</td>
      <td>PP</td>
      <td>Charlie McAvoy</td>
      <td>Charlie Coyle</td>
      <td>Matt Grzelcyk</td>
    </tr>
    <tr class="buhs-table-even">
      <td>3/7/20</td>
      <td>BOS</td>
      <td></td>
      <td>TBL</td>
      <td>2</td>
      <td>14:50</td>
      <td>EV</td>
      <td>Charlie McAvoy</td>
      <td>Charlie Coyle</td>
      <td>Matt Grzelcyk</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>1/18/23</td>
      <td>BOS</td>
      <td>@</td>
      <td>NYI</td>
      <td>2</td>
      <td>07:48</td>
      <td>EV</td>
      <td>Charlie McAvoy</td>
      <td>Matt Grzelcyk</td>
      <td>Charlie Coyle</td>
    </tr>
    <tr class="buhs-table-even">
      <td>12/30/23</td>
      <td>BOS</td>
      <td></td>
      <td>NJD</td>
      <td>2</td>
      <td>17:14</td>
      <td>EV</td>
      <td>Kevin Shattenkirk</td>
      <td>Matt Grzelcyk</td>
      <td>Charlie Coyle</td>
    </tr>
    <tr class="buhs-table-odd">
      <td>1/2/24</td>
      <td>BOS</td>
      <td>@</td>
      <td>CBJ</td>
      <td>2</td>
      <td>02:12</td>
      <td>EV</td>
      <td>Kevin Shattenkirk</td>
      <td>Matt Grzelcyk</td>
      <td>Charlie Coyle</td>
    </tr>
  </tbody>
</table>
  <br>
  <p>Coined by <a class="link" href="https://twitter.com/ConorRyan_93">@ConorRyan_93</a></p>
  <p>Data: <a class="link" href="https://www.hockey-reference.com/">Hockey-Reference.com</a></p>
</div>
{% endblock %}